@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    color: white;
    font-family: 'Creepster', cursive;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #343541;
    display: flex;
}

h1 {
    font-size: 33px;
    font-weight: 600;
    padding: 200px 0;
}

.side-bar {
    background-color: #202123;
    width: 244px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.spacer {
    flex-grow: 1; /* Absorbe l'espace supplémentaire */
}
.info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    padding: 10px;
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
        rgba(0, 0, 0, 0.05) 0 -12px 30px,
        rgba(0, 0, 0, 0.05) 0 4px 6px,
        rgba(0, 0, 0, 0.05) 0 12px 3px,
        rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

input:focus {
    outline: none;
}

.input-container {
    position:relative;
    width: 100%;
    max-width: 650px;
}

.input-container #submit {
    position:absolute;
    right: 20;
    bottom: 15px;
    cursor:pointer;
}

button {
    border : solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
    margin-bottom: -10px;
   

}
.margin-right-neg{
    margin-right: -10px;
}

nav {
    border : solid 0.5px rgba(255, 255, 255, 0.5);
    padding:10px;
    margin: 10px;
    border-radius: 5px;
}

.history {
    padding:10px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    height:100%
}

.history p {
    cursor:pointer;
}

.image-container {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.interaction-container {
    margin-bottom: 10px;
}

.user-prompt {
    background-color: rgb(255, 255, 255);
    color: blue;
    font-weight: bold;
}

.gpt-response {
    margin-left: 20px;
}
/*loader*/

.modal {
    display: none; /* Utilisez flexbox pour centrer le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    padding: 20px;
    width: auto; /* Adaptez la largeur au contenu intérieur */
    text-align: center;
}
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  